{% extends 'base.html' %}

{% block content %}
<h2>List of My Projects</h2>
<p>TASK SAYA:</p>
<ul>
    <li>Project 1: Build a simple portfolio website</li>
    <li>Project 2: Create a personal blog</li>
    <li>Project 3: Develop a to-do list application</li>
    <li>Project 4: Design a weather app</li>
    <li>Project 5: Implement a calculator</li>
    <li>Project 6: Create a recipe app</li>
    <li>Project 7: Build a quiz application</li>
    <li>Project 8: Develop a note-taking app</li>
    <li>Project 9: Design a portfolio gallery</li>
    <li>Project 10: Create a simple game</li>
    <li>Project 11: Build a contact form</li>
    <li>Project 12: Develop a blog commenting system</li>
    <li>Project 13: Create a personal finance tracker</li>
    <li>Project 14: Design a movie review site</li>
    <li>Project 15: Implement a simple e-commerce site</li>
</ul>

{% endblock %}
